@import url('https://fonts.cdnfonts.com/css/iciel-gotham');

:root {
	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #404041;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
}

body {
	background-image: url(DefaultWallpaper.jpg);
	/*Only works if the file is in the parent folder; DO NOT MOVE*/
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	font-family: 'iCiel Gotham';
	color: var(--color-lighter-dark);
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	width: 100%;
}

nav::-webkit-scrollbar {
	display: none;
}

.guilds-container {
	background-color: rgba(227, 229, 232, 0.8);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: space-between;
	max-width: 5.1rem;
	position: absolute;
	box-sizing: border-box;
	backdrop-filter: blur(20px);
}

.apps-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	box-sizing: border-box;
	z-index: 2;

}

.app-container {
	background: white;
	width: 48px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 48px;
	border-radius: 50%;
	cursor: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .35s cubic-bezier(.17, .6, .22, .88);
	box-shadow: rgba(120, 120, 120, 0.16) 0px 10px 36px 0px, rgba(112, 112, 112, 0.06) 0px 0px 0px 1px;
}

.app-container:first-child {
	margin-top: -0.2rem;
}

.app-container:hover {
	transform: scale(1.1);
	animation: boxShadowAnimationTaskBar .35s cubic-bezier(.17, .6, .22, .88);
	animation-fill-mode: forwards;
}

@keyframes boxShadowAnimationTaskBar {
	0% {
		box-shadow: rgba(0, 0, 0, 0) 0px 22px 70px 4px;
	}

	100% {
		box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	}
}

/* pill */
.app-container::before {
	content: '';
	width: 100%;
	height: 100%;
	background: var(--color-full-white);
	position: absolute;
	border-radius: 5px;
	top: 50%;
	transform: translate(-100%, -50%) scale(0);
	transition: transform 180ms;
}


.divider {
	width: 100%;
	background: black;
	height: 2px;
	border-radius: 1px;
	opacity: .06;
	transform: scale(.75);
}

.app-icon {
	width: 28px;
	height: 28px;
}

/** styling status bar **/

.panel {
	width: 256px;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	z-index: 1;
	position: fixed;
	bottom: 0;
	left: 80px;
	background: var(--color-grey-dark);
}

.panel:hover .tag,
.panel:hover .status-emoji {
	transform: translateY(-128%);
}

.avatar-wrapper {
	margin-right: 8px;
	position: relative;
	background: pink;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	display: flex;
	flex-grow: 1;
	position: relative;
	align-items: center;
}

.username {
	font-size: 0.8rem;
	cursor: pointer;
	font-weight: 600;
}

.status-holder {
	position: absolute;
	background: var(--color-not-quite-black);
	padding: 2px;
	bottom: -1px;
	right: -1px;
	border-radius: 50%;
}

.user-status-icon {
	width: 8px;
	height: 8px;
	background: var(--color-fantastic-green);
	border-radius: 50%;
}

.roller {
	font-size: 0.6rem;
	color: var(--color-header-secondary);
	position: relative;
	overflow: hidden;
}

.tag,
.status-emoji {
	transition: transform 320ms ease-in-out;
}

.status-emoji {
	margin-bottom: 2px;
}

.tag {
	position: absolute;
}

.button-container {
	display: flex;
}

.switcher {
	width: 32px;
	height: 32px;
	border: 0;
	background: transparent;
	border-radius: 4px;
	cursor: pointer;
	color: var(--color-grey-white);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.switcher:hover {
	background: var(--color-lighter-dark);
}

.avatar {
	width: inherit;
	border-radius: inherit;
}

/*Right Click components*/
.wrapper {
	visibility: hidden;
	position: absolute;
	width: 300px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
	padding: 10px 12px;
}

.content .item {
	list-style: none;
	font-size: 0.5rem;
	height: 35px;
	display: flex;
	width: calc(100% -20px);
	cursor: pointer;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 2px;
	padding: 0 5px 0 10px;
}

.content .item:hover {
	background: #f2f2f2;
}

.content .item span {
	margin-left: 8px;
	font-size: 1rem;
	font-weight: 100;
}

.content .setting {
	display: flex;
	margin-top: -5px;
	padding: 5px 12px;
	border-top: 1px solid #ccc;
}

.content .share {
	position: relative;
	justify-content: space-between;
}

.share .share-menu {
	position: absolute;
	background: #fff;
	width: 200px;
	right: -200px;
	top: -35px;
	padding: 13px;
	opacity: 0;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
	transition: 0.2s ease;
}

.share:hover .share-menu {
	opacity: 1;
	pointer-events: auto;
}