.control-panel{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 128, 0, 0.88);
    color: white;
    font-weight: 100;
    position: fixed;
    width: 17rem;
    height: 100%;
    justify-content: space-between;
    margin-left: -18rem;
    animation-fill-mode: forwards;
    z-index: -1;
    backdrop-filter: blur(20px);
}

@keyframes controlPanelIn{
    0% {margin-left: -18rem;}
    100%{margin-left: 5rem;}
}
@keyframes controlPanelOut{
    0%{margin-left: 5rem;}
    100% {margin-left: -18rem;}
}
.control-panel .control-panel-more-options{
    margin-bottom: 0.3rem;
}


/* Panel contents */
.control-panel .control-panel-header{
    background-color: rgba(1, 91, 1, 0.85);
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}

.control-panel .large-time-container{
    font-size: 2rem;
    font-weight: 100;
}

.control-panel .date-container{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    color: rgb(188, 239, 188);
}

.control-panel .control-panel-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200%;
    margin-top: 1rem;
}

/* Quick Controls */
.dark-light-mode-container{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.flex-light-dark-mode-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding: 0.4rem;

}

.mode-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: green;
    border-radius: 5px;
    width: 3.3rem;
    height: 3.3rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.modifiers-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 91, 1, 1);
    padding: 0.4rem;
    border-radius: 25px;
    margin-top: 1rem;
    cursor: pointer;
}

.modifiers-button:hover{
    background-color: rgb(45, 153, 45);
}