/* The info panel is the small box that gives acces to the control panel */
.info-panel {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    color: white;
    padding: 0.3rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 6px;
    justify-content: center;
    cursor: pointer;
    font-weight: 300;
}

.time {
    font-size: 0.9rem;
}

.controls-button {
    font-size: 0.7rem;
    margin: 2px;
}

.battery-percentage {
    font-size: 1rem;
    margin-bottom: -0.2rem;
}